body {
  font-size: 5vmin;
  font-family: monospace;
  word-spacing: -1.1em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  line-height: 1.6em;
  white-space: nowrap;

  background: #222831;
  color: #EEEEEE;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

span {
  opacity: 0.1;
}

.itis .w_itis,
.five_mins #m_5, .five_mins #w_minutes,
.ten_mins #m_10, .ten_mins #w_minutes,
.fifteen_mins #m_15,
.twenty_mins #m_20, .twenty_mins #w_minutes,
.twenty-five_mins #m_5, .twenty-five_mins #m_20, .twenty-five_mins #w_minutes,
.thirty_mins #m_30,
.past #w_past,
.to #w_to,
.one #h_1,
.two #h_2,
.three #h_3,
.four #h_4,
.five #h_5,
.six #h_6,
.seven #h_7,
.eight #h_8,
.nine #h_9,
.ten #h_10,
.eleven #h_11,
.twelve #h_12,
.oclock #w_oclock,
.message .w_message,
.always-on {
  opacity: 0.9;
  text-shadow: 0 0 0.3em #EEEEEE;
}
