body {
  font-size: 4vmin;
  font-family: monospace;
  word-spacing: -1.1em;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  line-height: 1.6em;
  white-space: nowrap;

  background: #333333;
  color: rgba(255, 255, 255, 0.1);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.on,
.always-on {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 0 0.3em #FFFFFF;
}
